@font-face {
  font-family: "poppins";
  src: url(/assets/fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "bold";
  src: url(/assets/fonts/Poppins/Poppins-Bold.ttf);
}
*,
*::after,
*::before {
  font-family: "poppins";
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*::after,
*::before {
  position: absolute;
  content: "";
}
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #272639;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e81748b6;
}
::-webkit-scrollbar-thumb:hover {
  background: #e81748;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "poppins";
  font-weight: 400;
  line-height: 1.3;
  color: #05185a;
  background: #fff;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 16px;
}
p {
  font-weight: 100;
  line-height: 1.5;
}
h1 {
  font-weight: 600;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
input,
textarea,
button {
  outline: none;
  border: none;
  background: none;
}
button {
  cursor: pointer;
}
select {
  border: none;
  outline: none;
}
img {
  height: auto;
  max-width: 100%;
}
.img {
  overflow: hidden;
}
.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.map iframe {
  width: 100%;
  height: 100%;
}
.wrapper {
  width: 1600px;
  height: 100%;
  margin: auto;
  position: relative;
}
.bold {
  font-family: "bold";
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex.centered {
  justify-content: center;
}
.grid4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 32px 16px;
}

@media screen and (max-width: 1650px) {
  .wrapper {
    width: 95%;
  }
}
@media screen and (max-width: 1320px) {
  .grid4 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 1100px) {
  .grid4 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 900px) {
  .grid4 {
    margin: auto;
    margin-top: 30px;
  }
}
@media screen and (max-width: 500px) {
  .grid4 {
    grid-template-columns: 1fr;
  }
}
